.app-aboutus{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.app__aboutus-title{
    display: block;
}

.app__aboutus-title::before{
    content: ' '; 
    display: block;
    background-color: #f97270;
    opacity: 0.1;
    border-radius: 10px;
    position: relative;
    left: 10px;
    top: 40px;
    width: 120px;
    height: 15px;
}

.app__aboutus-title h1{
    color: #f97270;
    width: 150px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
}

.app__aboutus-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}

.app__aboutus__wrapper-tile{
    max-width: 400px;
    margin: 50px;
}

.app__aboutus-mainImage{
    position: relative;
    z-index: 2;
}


.app__aboutus__wrapper-background{
    max-height: 5px;
}
.app__aboutus-backgroundImage{
    width: 200px;
    height: auto;
    z-index: 1;
    position: relative;
    left: 235px;
    top: -475px;
}

.app__aboutus__wrapper-title{
    font-size: 21px;
    width: 200px;
    line-height: 30px;
}

.app__aboutus__wrapper-subtitle{
    font-size: 18px;
    font-weight: normal;
    width: 320px;
    line-height: 30px;
    color: black;
}

.app__aboutus__wrapper-button{
    display: flex;
    align-items: center;
    font-weight: 200;
    font-size: 15px;
    justify-content: center;
    background-color: #f97270;
    width: 160px;
    height: 55px;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    margin-top: 45px;
}

@media only screen and (max-width: 940px){
    .app__aboutus-wrapper{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 500px){
    .app__aboutus-mainImage{
        max-width: 300px;
        height: auto;
    }
}